@font-face {
    font-family: time_burner_bold;
    src: url(../fonts/timeburnerbold.ttf);
}

@font-face {
    font-family: slthin;
    src: url(../fonts/SlatePro-Light.ttf);
}

@font-face {
    font-family: time_burner_nav;
    src: url(../fonts/timeburner_regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: rgb(232, 217, 250);
    background: linear-gradient(180deg, rgb(240, 231, 252) 60%, rgba(181, 184, 254, 1) 100%);
    background-attachment: fixed;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.separador {
    margin: 3rem 0;
}

.separador-footer {
    margin-top: 3rem;
}

.pt-4 {
    padding-top: 0 !important;
}

@import "../scss/components/header";
@import "../scss/components/footer";
@import "../scss/components/index";
@import "../scss/components/productos";
@import "../scss/components/galeria";
@import "../scss/components/nosotras";
@import "../scss/components/contacto";
@import "../scss/base/extends";
@import "../scss/base/mixin";


@media (min-width: 62rem) {

    #header {
        height: 4rem;

        .navbar-toggler {
            display: none;
        }

        .navbar-nav {
            display: flex;
            justify-content: flex-end;
            height: 4.5rem;
            background-color: transparent;
            overflow-y: hidden;
            padding: .5rem 6rem 0 6rem;
        }

        .nav-item a {
            color: #7F38DE;
            margin: 0 1rem;
        }

        .logo-container {
            height: 4rem;
            padding: 0 0 0 6rem;
        }

        .logo-container img {
            width: 100%;
        }

        .logo-container p {
            font-size: .9rem;
            text-align: center;
            padding-left: .2rem;
        }
    }

    .index-main {

        .carousel {
            padding-top: 0;
        }

        .container-marketing {
            display: flex;
        }

        .btn-car {
            margin-bottom: 4rem;
        }

        .item-marketing {
            width: 100%;
            margin: 2rem 0rem;
        }

        .item-marketing img {
            width: 140px;
            height: 140px;
        }

        .index-info {
            display: flex;
            justify-content: space-evenly;
        }

        .info-item {
            margin: 2rem 0;
        }
    }

    .productos-main {
        margin-top: 1rem;

        .productos-amuletos,
        .productos-anillos,
        .productos-aros,
        .productos-dijes {
            display: flex;
            justify-content: space-evenly;
        }

        .productos-anillos,
        .productos-dijes {
            flex-direction: row-reverse;
        }

        .productos-txt {
            display: flex;
            flex-direction: column;

            p {
                margin: 0 2rem;
            }
        }

        .img-desktop {
            display: block;
        }

        .img-mobile {
            width: 60%;
            margin: 6rem 8rem 0 8rem;
        }

        .separador {
            margin: 4rem 0;
        }
    }

    .galeria-main {
        margin: 0 12rem 4rem 12rem;
    }

    .nosotras-main {
        margin-top: 5rem;

        .nosotras,
        .nosotras-taller,
        .nosotras-feria1,
        .nosotras-feria2 {
            display: flex;
            justify-content: space-between;

            .nosotras-txt {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;

                p {
                    margin: 0 2rem;
                }
            }

            .nosotras-img {
                img {
                    width: 540px;
                    height: 540px;
                }
            }
        }

        .nosotras-taller,
        .nosotras-feria2 {
            flex-direction: row-reverse;
        }

        .nosotras-mapa1,
        .nosotras-mapa2 {
            iframe {
                display: block;
                margin: 4rem 0 0 10rem;
            }
        }

        .separador {
            margin: 4rem 0;
        }
    }
}

