.productos-container {
	display: grid;
	grid-template: "header" "amuletos" "anillos" "aros" "dijes"
	"footer";
}

.productos-main{
	position: relative;
	margin: 0 3rem;

	.separador {
		margin: 2.5rem 0;
	}

	.productos-amuletos {
		grid-area: amuletos;
		margin-top: 4rem;
	}

	.productos-txt {
		h2 {
			@extend %encabezados;
		}
		p {
			@extend %texto;
		}
	}

	.img-mobile {
		display: flex;
		justify-content: space-between;
		img {
			width: 40%;
			margin-bottom: 2rem;
		}
	}

	.img-desktop {
		display: none;
	}

	.productos-anillos {
		grid-area: anillos;
	}

	.productos-aros {
		grid-area: aros;
	}

	.productos-dijes {
		grid-area: dijes;
	}

}